body {
  background-color: var(--bg);
}

.title {
  margin: 2rem auto;

  font-family: Coiny, system-ui;
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--accent);
}

.content {
  display: flex;
  margin: 1rem 0 6rem;
}

.right {
  width: 25rem;
  margin-right: 2rem;
  padding: 2rem;
  border: 1px var(--accent) solid;
  border-radius: 3rem;
  background-color: var(--bg);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 1rem;

  background-color: var(--companion);

  transition:
    background-color 0.3s,
    transform 0.2s;
}

.svg {
  width: 1.2rem;
  height: auto;
}

.path {
  fill: var(--accent);
  transition: fill 0.5s ease;
}

.link {
  align-self: end;

  margin-right: 2rem;

  font-family: Coiny, system-ui;
  font-weight: 800;
  color: var(--accent);
  text-decoration: none;

  transition: color 0.5s ease;
}

@media (hover: hover) and (pointer: fine) {
  .close:hover {
    cursor: pointer;
    background-color: var(--hover);
  }

  .link:hover {
    cursor: pointer;
    color: var(--companion);
  }
}
