.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header,
.footer {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--accent);
  color: var(--text-input);
}

.header {
  flex-direction: column;
  align-items: center;
}
